@import 'assets/styles/variables.scss';

header {
  ul.header-nav-mid {
    font-size: 18px;
  
    li {
      button {
        span {
          cursor: pointer;
          font-weight: 600;
          text-transform: uppercase;
        }

        &:hover span {
          margin-top: 2px;
        }

        &:hover~.header-nav-dropdown {
          margin-top: -2px;
        }
      }
    } 
  
    &>li:not(:first-child) {
      margin-left: 16px;
    }
  }

  .header-nav-dropdown {
    gap: 5%;
    top: calc(100% + 18px);
    border-radius: 10px;
    font-weight: 500;

    li {
      padding: 5px 8px;
      font-size: 16px;
      position: relative;
    }

    &.dropdown-genre {
      width: 410px; 

      li {
        width: 30%;

        &::before {
          content: '';
          position: absolute;
          width: 2px;
          height: 80%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &.dropdown-country {
      width: 300px;
      
      li {
        width: 45%;

        &::before {
          content: '';
          position: absolute;
          width: 2px;
          height: 80%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &.dropdown-user {
      width: 150px;
      top: calc(100% + 14px);
      border-radius: 5px;

      li {
        width: 100%;
      }
    }
  }
  
  .header-nav-end {
    >*:not(:first-child) {
      margin-left: 10px;
    }
  }
  
  .header-icon {
    width: 24px;
  }
}


// Light mode
header.light-header {
  background-color: map-get($map: $colors, $key: light-400);
  color: map-get($map: $colors, $key: dark-900);

  ul.header-nav-mid {
    li {
      button {
        &:hover span {
          border-bottom: 2px solid map-get($map: $colors, $key: dark-900);
        }
      }
    }
  }

  .nav-search {
    background-color: map-get($map: $colors, $key: light-200);

    input {
      background-color: transparent;
    }
  }

  .header-nav-dropdown {
    background-color: map-get($map: $colors, $key: light-300);

    &.dropdown-genre {
      li {
        &:hover a {
          border-bottom: 1px solid map-get($map: $colors, $key: dark-900);
          font-weight: 700;
        }
        &:hover::before {
          background-color: map-get($map: $colors, $key: dark-900);
        }
      }
    }

    &.dropdown-country {
      li {
        &:hover a {
          border-bottom: 1px solid map-get($map: $colors, $key: dark-900);
          font-weight: 700;
        }

        &:focus a {
          font-weight: 700;
        }
        &:hover::before {
          background-color: map-get($map: $colors, $key: dark-900);
        }
      }
    }

    &.dropdown-user {
      li {

        &:hover {
          background-color: map-get($map: $colors, $key: light-400);
        }
      }
    }
  }
}
// End light mode


// Dark mode
header.dark-header {
  background-color: map-get($map: $colors, $key: dark-800);
  color: map-get($map: $colors, $key: light-100);

  ul.header-nav-mid {
    li {
      button {
        &:hover span {
          border-bottom: 2px solid map-get($map: $colors, $key: light-100);
        }
      }
    }
  }
  
  .nav-search {
    background-color: map-get($map: $colors, $key: dark-600);
    
    input {
      background-color: transparent;
    }
  }

  .header-nav-dropdown {
    background-color: map-get($map: $colors, $key: dark-800);

    &.dropdown-genre {
      li {
        &:hover a {
          border-bottom: 1px solid map-get($map: $colors, $key: light-100);
          font-weight: 700;
        }

        &:hover::before {
          background-color: map-get($map: $colors, $key: light-100);
        }
      }
    }

    &.dropdown-country {
      li {
        &:hover a {
          border-bottom: 1px solid map-get($map: $colors, $key: light-100);
          font-weight: 700;
        }

        &:focus a {
          font-weight: 700;
        }

        &:hover::before {
          background-color: map-get($map: $colors, $key: light-100);
        }
      }
    }

    &.dropdown-user {
      li {

        &:hover {
          background-color: map-get($map: $colors, $key: dark-700);
        }
      }
    }
  }
}
// End dark mode