@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import './variables.scss';

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0 auto;
  background-color: map-get($map: $colors, $key: neutral-500);
}

* {
  box-sizing: border-box;
}

.container {
  @apply max-w-[calc(100vw-48px)];
  @apply sm:max-w-[600px];
  @apply md:max-w-[700px];
  @apply lg:max-w-[900px];
  @apply xl:max-w-[1120px];
  @apply mx-auto my-0 h-full w-full;
}

ul {
  list-style-type: none;
  margin: 0px;
}

input {
  outline: none;
}

select {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// button {
//   &:focus-visible {
//     outline: none;
//   }
// }

.common-flex-box {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.custom-scroll {
  overflow-y: scroll;

  // &::-webkit-scrollbar-track {
  //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //   border-radius: 9999px;
  // }

  &::-webkit-scrollbar {
    @apply w-2;
  }

  &::-webkit-scrollbar-thumb {
    @apply w-2 rounded-full;
    background-color: #a7a7a7;
  }
}

.sub-content {
  @apply py-10;

  &.sub-content-light {
    color: map-get($map: $colors, $key: neutral-1000);

    &.anime-latest {
      background-color: map-get($map: $colors, $key: neutral-300);
    }

    &.anime-series {
      background-color: map-get($map: $colors, $key: neutral-200);
    }

    &.series-page {
      background-color: map-get($map: $colors, $key: neutral-300);
    }

    &.genres-page {
      background-color: map-get($map: $colors, $key: neutral-300);
    }

    &.anime-movies {
      background-color: map-get($map: $colors, $key: neutral-300);
    }

    &.anime-ranks {
      background-color: map-get($map: $colors, $key: neutral-200);
    }
  }

  &.sub-content-dark {
    color: map-get($map: $colors, $key: neutral-100);

    &.anime-latest {
      background-color: map-get($map: $colors, $key: neutral-800);
    }

    &.anime-series {
      background-color: map-get($map: $colors, $key: neutral-900);
    }

    &.series-page {
      background-color: map-get($map: $colors, $key: neutral-800);
    }

    &.genres-page {
      background-color: map-get($map: $colors, $key: neutral-800);
    }

    &.anime-movies {
      background-color: map-get($map: $colors, $key: neutral-800);
    }

    &.anime-ranks {
      background-color: map-get($map: $colors, $key: neutral-900);
    }
  }
}
