$colors: (
  light-100: #F8F9FA,
  light-200: #E9ECEF,
  light-300: #DEE2E6,
  light-400: #CED4DA,
  light-500: #ADB5BD,
  dark-600: #6C757D,
  dark-700: #495057,
  dark-800: #343A40,
  dark-900: #212529,
  dark-1000: #0A0B0B,
);