$colors: (
  neutral-100: #F9FAFB,
  neutral-200: #EAEDF0,
  neutral-300: #DFE3E7,
  neutral-400: #CED4DA,
  neutral-500: #ADB5BD,
  neutral-600: #6D767E,
  neutral-700: #484F56,
  neutral-800: #353B41,
  neutral-900: #22262A,
  neutral-1000: #0A0A0A,
);