$colors: (
  neutral-100: #f9fafb,
  neutral-200: #eaedf0,
  neutral-300: #dfe3e7,
  neutral-400: #ced4da,
  neutral-500: #adb5bd,
  neutral-600: #6d767e,
  neutral-700: #484f56,
  neutral-800: #353b41,
  neutral-900: #22262a,
  neutral-1000: #0a0a0a,
);

$border-gradient: (
  cl-1: #d96635,
  cl-2: #ffc700,
  cl-3: #0029ff,
);

$btn-bg-gradient: (
  cl-sky-1: #8ab9ef,
  cl-sky-2: #5789db,
  cl-sky-3: #3f8fed,
);
